<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src="jquery-1.9.1.js"></script>
	<script src="bootstrap.min.js"></script>
</head>

<body>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		测试模态框
	</button>
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<table style="overflow-y: auto;display:block;border-spacing: 1px;width: 550px;height: 200px;border: 1px solid">
						<tbody>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
							<!--<td><input type="checkbox" />影视1asdada22</td>-->
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影啊实打实大色多群视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影啊实打实大色多群视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影啊实打实大色多群视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影视1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						<tr>
							<td style="width: 33%"><input type="checkbox" />影视122</td>
							<td style="width: 33%"><input type="checkbox" />影啊实打实大色多群视asdasdaqeq1</td>
							<td style="width: 33%"><input type="checkbox" />影视12</td>
						</tr>
						</tbody>
					</table>


					<!--<div class="form-group pre-scrollable" style="border:1px solid;width: 400px;height: 100px;overflow-y:auto;">
						<input type="checkbox" />影视122
					<input type="checkbox" />影视2<br>
					<input type="checkbox" />影视3
					<input type="checkbox" />影视1<br>
					<input type="checkbox" />影视2
					<input type="checkbox" />影视3<br>
					<input type="checkbox" />影视1
					<input type="checkbox" />影视2<br>
					<input type="checkbox" />影视3
					<input type="checkbox" />影视1<br>
					<input type="checkbox" />影视2
					<input type="checkbox" />影视3<br>
					<input type="checkbox" />影视1
					<input type="checkbox" />影视2<br>
					<input type="checkbox" />影视3
					<input type="checkbox" />影视1
					<input type="checkbox" />影视2<br>
					<input type="checkbox" />影视3
					<input type="checkbox" />影视1
					<input type="checkbox" />影视2
					<input type="checkbox" />影视3
					<input type="checkbox" />影视1
					<input type="checkbox" />影视2
					<input type="checkbox" />影视3
					</div>-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
