<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
</head>
<body>
	<h2>测试html</h2>
	<table border=\"1\" width=\"1400\" style="border-collapse: collapse;border: black;border-spacing: 0">
		<thead style="background-color: #C1CDCD;">
			<tr><th colspan='21' style='text-align: center;font-size: x-large'>蜜蜂视频BesTV专区销售情况统计表</th></tr>
			<tr><th rowspan='2'>日期</th><th colspan='2'>月卡购买数</th><th colspan='2'>季卡购买数</th><th colspan='2'>年卡购买数</th><th colspan='3'>支付金额(元)</th><th rowspan='2'>总销售金额(元)</th></tr>
			<tr><th>支付成功</th><th>待支付</th><th>支付成功</th><th>待支付</th><th>支付成功</th><th>待支付</th><th>应付金额</th><th>实付金额</th><th>应补差额</th></tr>
		</thead>
	</table>
	</body>
</html>
